* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-title {
  text-align: center;
  font-weight: 800;
  margin: auto;
  height: 200px;
  width: 800px;
  line-height: 5;
}

.header-title_text {
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.contacts {
  font-size: 20px;
  text-align: left;
}

.image-icon {
  width: 200px;
  height: 250px;
}

.list-item {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.section {
  padding-top: 1rem;
  width: 800px;
  margin: auto;
  padding-bottom: 1rem;
}

.section-content_text {
  font-size: 20px;
  margin: 0;
}

.section-content_code {
  background-color: #f1f1f1;
}

.table {
  width: 90%;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  border-collapse: collapse;
}

tr:hover {
  background-color: #f5f5f5;
}

.table-head {
  font-size: 22px;

  margin: 0;
}

.table-body {
  font-size: 20px;
  margin: 0;
}

.footer-content {
  padding-top: 1rem;
  width: 800px;
  height: 250px;
  margin: auto;
  padding-bottom: 1rem;
}
